.htaccess
.htpasswd
.idea
/nbproject/*
/.vscode
robots.txt
upload/*
bitrix/*
log.txt
log/*
error.log
sitemap*.xml
sitemap/rss*.xml
sitemap_*
/local/markup/*
/local/test/*
/test/*
/assets/*
/vendor/
local/markup/node_modules/*
.env
/mail/*